.ServiceCard{
    min-height: 380px;
    width: 250px;
}

.ServiceCard:hover #detalhe_servico{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ServiceCard:hover img, .ServiceCard:hover #titulo{
    display: none;
}

#detalhe_servico{
    display: none;
    height: 100%;
}
